.container {
  width: 100vw;

  & .header {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 80px;

    & .headerElement {
      display: inline-block;
      height: 20px;
      margin: 25px;
      font-family: 'Concert One', cursive;
    }
  }

  & .humberger {
    display:none;
  }

  & .snsButtons {
    width: 60px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 40px;

    & .snsToolBar {
      padding: 0;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      & .snsMark {
        display: inline-block;
        font-size: 20px;
        padding: 10px;
        margin: 0;
      }
    }
  }

  & .scrollSign {
    transform: rotate(90deg);
    position: absolute;
    top: 80%;
    left: 50px;
    font-family: 'Concert One', cursive;

    &::after {
      content:"";
      display:block;
      height:2px;
      background-color:#283135;
      position:absolute;
      bottom:9px;
      left:55px;
      animation: scrollSign 1s ease 0s infinite alternate none running;
    }

    @keyframes scrollSign {
      0% {
        width: 0px;
      }
      100% {
        width: 103px;
      }
    }
  }

  & .contentsContainer {
    width: 90%;
    margin: 0 auto;
    & .logo {
      width: 80px;
      height: 100px;
      position: fixed;

      & .logoTitle {
        font-family: 'Concert One', cursive;
        font-size: 20px;
      }
    }

    & .centerBall {
      width: 400px;
      height: 400px;
      border-radius: 50%;
      background-color: #555;
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -40;
      overflow: hidden;
      // animation: center-smooth 60s infinite;

      & .video {
        position: absolute;
        width: 750px;
        height: auto;
        left: -160px;
        top: 0;
      }
    }

    & .centerInBall {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      background-color: #f8f8f8;
      position: fixed;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      z-index: -20;
      // animation: center-smooth 60s infinite;
    }

    @keyframes center-smooth {
      0% {
        transform: translate(-50%, -50%) scale(1);
      }
      5% {
        transform:translate(-50%, -50%) scale(0.3);
      }
      10% {
        transform: translate(-50%, -50%) scale(1);
      }
      15% {
        transform: translate(-50%, -50%) scale(1);
        border-radius: 0%;
      }
      20% {
        transform: translate(-50%, -50%) scale(1);
        border-radius: 0%;
      }
      25% {
        transform: translate(-50%, -50%) scale(1) rotate(45deg);
        border-radius: 0%;
      }
      30% {
        transform: translate(-50%, -50%) scale(1) rotate(45deg);
        border-radius: 0%;
        width: 100px;
      }
    }

    & .topDesign {
      height: 100vh;
      position: relative;
      & h1 {
        position: absolute;
        top: 42%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }

      & .concertTop {
        font-family: 'Concert One', cursive;
        font-size: 60px;
      }

      & .news {
        width: 500px;
        position: absolute;
        top: 90%;
        left: 70px;
        font-weight:bold;
        color: #808080;
        & p {
          margin: 0;
        }
      }
    }

  }

  & .footer {
    width: 100%;
    height: 300px;
    font-family: 'Concert One', cursive;
    color: #fff;
    background-color: #283135;

    & .footerContainer {
      width: 80%;
      height: 100%;
      margin: 0 auto;
      padding: 20px 0;

      & h3 {
        text-align: center;
      }
    }
  }
}



// responsive sp -v 
@media only screen and (max-width: 480px) {
	.container {

    & .header {
      display: none;
    }

    & .snsButtons {
      display: none;
    }

    & .contentsContainer {
      width: 90%;
      margin: 0 auto;

      & .centerBall {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: #555;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -40;
        overflow: hidden;
        animation: center-smooth 3s infinite;

        & .video {
          position: absolute;
          width: 750px;
          height: auto;
          left: -160px;
          top: 0;
        }
      }

      & .centerInBall {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: #f8f8f8;
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        z-index: -20;
        animation: center-smooth 3s infinite;
      }

      & .topDesign {

        & .concertTop {
          font-size: 40px;
          transform: translate(-50%, -10%);
        }

        & .news {
          display: none;
        }
      }
    }
  }
}
