.container {
  width: 100vw;

  & .header {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    width: 30%;
    height: 200px;

    & .headerElement {
      display: inline-block;
      padding: 20px;
      height: 60px;
      font-family: 'Concert One', cursive;
    }
  }
}
  
  .headerImage {
    width: 6rem;
    height: 6rem;
  }
  
  .backToHome {
    margin: 3rem 0 0;
  }