$cWhite: #fff;

.body {
    width: 100vw;
    height: 100vh;
    background-color: #283135;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;

    & .spinner {
        width: 40px;
        height: 40px;
        background-color: #fff;
        margin: auto;
    }
}
