.mainContainer {
  width: 90%;
  margin: 0 auto;
}


.heading2Xl {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingXl {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
    letter-spacing: -0.05rem;
    margin: 1rem 0;
  }
  
  .headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1rem 0;
  }
  
  .headingMd {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  .colorInherit {
    color: inherit;
  }
  
  .padding1px {
    padding-top: 1px;
  }
  
  .list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .listItem {
    margin: 0 0 10px;
    background-color: #fff;
    padding: 10px 10px 3px 10px;
    border-radius: 5px;
  }
  
  .lightText {
    color: #999;
  }

.about {
  width: 100vw;
  height: 400px;
  -webkit-transform: translate(-9.5%, 0%);
  transform: translate(-9.5%, 0%);
  background-color: #283135;
  padding: 5% 15%;

  & h1, p {
    font-family: 'Concert One', cursive;
    color: #fff;
  }

  & p {
    margin: 3px;
  }
}

.section {
  margin: 100px 0;
  & .sectionTitle {
    font-family: 'Concert One', cursive;
    font-size: 70px;
    margin: 0 0 0 50px;
  }

  & p {
    margin: 40px 0 40px 50px;
    width: 1000px;
    font-weight: bold;
  }

  & .list {
    background-color: #ddd;
    padding: 25px 50px;
    border-radius: 10px;
    height: 500px;
    overflow: scroll;
  }

  & .workSection {
    margin: 50px 0;
  }
}

.root {
  flex-grow: 1;
}

.workDetail {
  margin: 0 ;
}

.blogTitle {
  font-weight: bold;
  margin: 5px 0 2px 0;
  display: inline-block;
}